# Get your FREE Gemini API key at:
# https://aistudio.google.com/
GEMINI_API_KEY=

#Additional Gemini API keys
GEMINI_API_KEY_TWO=
GEMINI_API_KEY_THREE=
GEMINI_API_KEY_FOUR=
# Sandbox directory
SANDBOX_ROOT=./sandbox-repo